@import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Roboto+Condensed&family=Roboto:ital,wght@1,900&display=swap');

.imgee{
    width:400px;
    height:auto;
    object-fit: cover;
}
.Top_course h1{
    text-align: center;
    font-size: 35px;
    font-weight: 500;
    font-family: 'Belanosima', sans-serif;
    /* font-family: 'Roboto Condensed', sans-serif; */
}
.holding{
    display: flex;
    justify-content: center;
}
.course_item{
    margin: 10px;
    width: 12%;
    height:150px;
    background-color: #c42020;
    display:flex;
}
.course_item i{
    height: 40%;
    font-size: 50px;
    margin-right: 10px;
}

